
body	{margin: 0; padding: 10px 0px 0px 0px; background-color: #FFFFFF;}
form	{margin: 0;}
ul	{margin-top:0; margin-bottom:1em;}
.dump	{font-size: 1px;}
tr.spacer td	{padding:0; height:1px;}
p       {text-align: justify;}

a {color: #007700;}
a:visited {color: #BB0000;}

.netunitazam {color:#007700;}

.btn.btn-xs {padding: 4px 10px;} //smaller paddings